Repository starr-dusT/gitlab-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

Path conditions:
  Codestyle: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Lint: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Build: any of: gitlabci_local/**/*
  Coverage Docker: any of: gitlabci_local/**/*
  Coverage Podman: any of: gitlabci_local/**/*
  Py3.6 Docker: any of: gitlabci_local/**/*
  Py3.7 Docker: any of: gitlabci_local/**/*
  Py3.8 Docker: any of: gitlabci_local/**/*
  Py3.9 Docker: any of: gitlabci_local/**/*
  Py3.6 Podman: any of: gitlabci_local/**/*
  Py3.7 Podman: any of: gitlabci_local/**/*
  Py3.8 Podman: any of: gitlabci_local/**/*
  Py3.9 Podman: any of: gitlabci_local/**/*
  Py3.9 Preview: any of: gitlabci_local/**/*
  SonarCloud: any of: gitlabci_local/**/*

chore: lint: isolate and identify 'Modules libraries' imports
  docs/preview.py
  gitlabci_local/engines/docker.py
  gitlabci_local/features/jobs.py
  gitlabci_local/menu.py
  gitlabci_local/package/patcher.py
  gitlabci_local/package/updates.py
  setup.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: features: prevent YAML dump outputs lines from wrapping
  gitlabci_local/features/jobs.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: docs: resolve configurations test's 12th value support
  docs/preview.py
Due: Codestyle, Lint

chore: tests: add interactive unit tests with pexpect-executor
  tests/configurations/test.sh
  tests/menus/.gitlab-ci.yml
  tests/menus/test.sh
Due: none

chore: coverage: ignore unused PyInquirer patcher lines coverage
  gitlabci_local/package/patcher.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #148: handle JSON or YAML string as unique choice
  gitlabci_local/menu.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: gitlab-ci: raise interactive tests timeout to 15 minutes
  .gitlab-ci.yml
Due: none

docs: changelog: regenerate release tag changes history
  CHANGELOG.md
  README.md
Due: none

chore: changelog: add a cleanup option to hide changelog commits
  .gitlab-ci.yml
  CHANGELOG.md
  changelog.sh
Due: none

chore: changelog: configure groups titles detailed map for chglog
  .chglog/config.yml
  CHANGELOG.md
Due: none

chore: vscode: disable chords terminal features to allow Ctrl+K
  .vscode/settings.json
Due: none

docs: readme: minor codestyle cleanups of the Linux support table
  README.md
Due: none

docs: readme: add missing modules dependencies and references
  README.md
Due: none

chore: gitlab-ci: set host and tool envs for pexpect-executor
  .gitlab-ci.yml
Due: none

chore: gitlab-ci: use updated 'docker:19-dind' image for 19.03.14
  .gitlab-ci.yml
  tests/engines/.gitlab-ci.yml
Due: none

test: images: use pexpect-executor to pull with an interactive TTY
  tests/images/test.sh
Due: none

chore: gitlab-ci: hide pip warnings and coverage report errors
  .gitlab-ci.yml
Due: none

chore: prepare #149: add simulated macOS environment and cleanup
  gitlabci_local/system/platform.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: implement #149: handle simulated settings for virtual tests
  gitlabci_local/package/settings.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: test #149: add macOS simulated test for settings coverage
  tests/macos/test.sh
Due: none

chore: coverage: ignore safety unused code lines
  gitlabci_local/engines/podman.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: vscode: ignore '.tmp.entrypoint.*' files in VSCode
  .vscode/settings.json
Due: none

chore: engines: refactor 'help' into 'cmd_exec' for coverage tests
  gitlabci_local/engines/docker.py
  gitlabci_local/engines/engine.py
  gitlabci_local/engines/podman.py
  gitlabci_local/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: coverage: add '.coveragerc' to strip Linux / Windows paths
  .coveragerc
  .gitlab-ci.yml
Due: none

chore: gitlab-ci: add 'Coverage Windows' tests with PyWine image
  .gitlab-ci.yml
  tests/windows/test.sh
Due: none

chore: resolve #150: restrict Dicts iterators and improve coverage
  docs/preview.py
  gitlabci_local/types/dicts.py
  tests/configurations/.gitlab-ci.yml
  tests/configurations/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: test: add sudoer '--debug' Podman engine test
  tests/simple/test.sh
Due: none

chore: gitlab-ci: ensure coverage XML files use relative sources
  .gitlab-ci.yml
Due: none

fix: resolve #151: enforce WinPTY and improve coverage
  gitlabci_local/main.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #151: configurable WinPTY and limited coverage checks
  gitlabci_local/main.py
  tests/windows/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: types: ignore 'Volumes' Windows case from coverage results
  gitlabci_local/types/volumes.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: gitlab-ci: unify local VSCode coverage to a common XML file
  .gitlab-ci.yml
  .vscode/settings.json
Due: none

fix: resolve #152: avoid sudoer access from root user
  gitlabci_local/system/platform.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: test #152: implement permissions tests for temp files
  .gitlab-ci.yml
  tests/permissions/.gitlab-ci.yml
  tests/permissions/test.sh
Due: none

chore: engines: ignore 'exec()' from coverage rather than comment
  gitlabci_local/engines/engine.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: gitlab-ci: unify template scripts and add stages comments
  .gitlab-ci.yml
Due: none

fix: resolve #153: ensure signals are restored and reraised
  gitlabci_local/types/files.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: test #153: test reraised signals and 'Files.clean' coverage
  tests/permissions/.gitlab-ci.yml
  tests/permissions/test.sh
Due: none

chore: gitlab-ci: use 'pip3' instead of 'pip' in tests template
  .gitlab-ci.yml
Due: none

chore: run: adapt 'run.sh' to missing sudo and wine support
  run.sh
Due: none
