Repository starr-dusT/gitlab-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

Codestyle:
  stage: prepare
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: 1
  before_script:
  - pip3 install -q -r requirements/quality.txt --upgrade
  script:
  - yapf -i ./docs/*.py ./gitlabci_local/*.py ./gitlabci_local/*/*.py ./setup.py
  ...

Lint:
  stage: prepare
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: 1
  before_script:
  - pip3 install -q -r requirements/runtime.txt --upgrade
  - pip3 install -q -r requirements/quality.txt --upgrade
  - pip3 install -q -r requirements/tests.txt --upgrade
  script:
  ...

Build:
  stage: build
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: 1
  before_script:
  - pip3 install -r requirements/runtime.txt --upgrade
  - pip3 install -r requirements/build.txt --upgrade
  script:
  - rm -rf build dist *.egg-info .eggs
  - python3 setup.py bdist_wheel
  artifacts:
    paths:
    - dist/

Coverage Docker:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    COVERAGE_FOLDER: ${CI_PROJECT_DIR}/coverage-reports
    COVERAGE_RCFILE: ${CI_PROJECT_DIR}/.coveragerc
    PYTHONPATH: ${CI_PROJECT_DIR}
    DOCKER_DRIVER: overlay2
  ...

Coverage Podman:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    COVERAGE_FOLDER: ${CI_PROJECT_DIR}/coverage-reports
    COVERAGE_RCFILE: ${CI_PROJECT_DIR}/.coveragerc
    PYTHONPATH: ${CI_PROJECT_DIR}
    DOCKER_HOST: tcp://127.0.0.1:9999
  ...

Coverage Windows:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    COVERAGE_FOLDER: ${CI_PROJECT_DIR}/coverage-reports
    COVERAGE_RCFILE: ${CI_PROJECT_DIR}/.coveragerc
    PYTHONPATH: ${CI_PROJECT_DIR}
    COVERAGE_FILE: ${CI_PROJECT_DIR}/coverage-reports/.coverage-windows
  ...

Py3.6 Docker:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - ''
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local
  
  ...

Py3.7 Docker:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - ''
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local
  
  ...

Py3.8 Docker:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - ''
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local
  
  ...

Py3.6 Podman:
  stage: test
  timeout: 15m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_HOST: tcp://127.0.0.1:9999
  before_script:
  ...

chore: finish #151: support non-WinPTY execution environments
  .gitlab-ci.yml
  gitlabci_local/main.py
  tests/windows/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: test: add '--sockets' and host failures coverage tests
  tests/failures/test.sh
  tests/simple/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: test: add empty '{before,after}_script' and 'script' tests
  tests/scripts/.gitlab-ci.incomplete.yml
  tests/scripts/.gitlab-ci.yml
  tests/scripts/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: test: finish 'extends' coverage with two 'variables:' nodes
  tests/extends/.gitlab-ci.yml
  tests/extends/template_4.yml
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: test: finish 'variables' coverage of environment overrides
  tests/variables/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: gitlab-ci: support ',' separated SUITE values for coverage
  .gitlab-ci.yml
Due: none

fix: resolve #154: preserve variables priority and override order
  gitlabci_local/parser.py
  tests/extends/.gitlab-ci.yml
  tests/extends/template_4.yml
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: test: finish parser coverage of .env environment override
  tests/environment/.gitlab-ci.yml
  tests/environment/environment.env
  tests/environment/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: docs: use pexpect-executor 1.2.0 to hold the final prompt
  docs/preview.py
  requirements/tests.txt
Due: Codestyle, Lint

chore: gitlab-ci: add a job-specific report to 'Coverage' jobs
  .gitlab-ci.yml
Due: none

chore: docs: refactor the 'Preview' job into a 'termtosvg' job
  .gitlab-ci.yml
  README.md
  docs/preview.gif
  docs/preview.svg
  docs/template.svg
  requirements/docs.txt
Due: Codestyle, Lint

docs: changelog: regenerate release tag changes history
  CHANGELOG.md
  README.md
Due: none

feat: implement #155: add arguments categories for readability
  README.md
  gitlabci_local/main.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: prints: isolate PyInquirer themes into a 'Menus' class
  gitlabci_local/menu.py
  gitlabci_local/prints/menus.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: cli: isolate the CLI main entrypoint to a cli/ submodule
  gitlabci_local/__main__.py
  gitlabci_local/cli/__init__.py
  gitlabci_local/cli/main.py
  setup.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: types: reduce unrequired nested if conditions
  gitlabci_local/types/dicts.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: gitlab-ci: run develop pipeline upon 'CHANGELOG.md' changes
  .gitlab-ci.yml
Due: none

chore: features: turn the 'launcher' into a pipeline feature class
  gitlabci_local/cli/main.py
  gitlabci_local/features/pipelines.py
  gitlabci_local/menu.py
  gitlabci_local/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: parsers: isolate 'parser.read' to a 'Parsers' class
  gitlabci_local/cli/main.py
  gitlabci_local/parser.py
  gitlabci_local/parsers/parsers.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: parsers: isolate 'parse' and 'stage' to the 'GitLab' class
  gitlabci_local/parser.py
  gitlabci_local/parsers/gitlab.py
  gitlabci_local/parsers/parsers.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: features: fix 'PipelinesFeature' feature class name
  gitlabci_local/cli/main.py
  gitlabci_local/features/pipelines.py
  gitlabci_local/menu.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: features: isolate 'select' and 'configure' to 'Menus' class
  gitlabci_local/cli/main.py
  gitlabci_local/features/menus.py
  gitlabci_local/menu.py
  gitlabci_local/parsers/gitlab.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: features: rename 'jobs' feature to 'ConfigurationsFeature'
  gitlabci_local/cli/main.py
  gitlabci_local/features/configurations.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: jobs: isolate 'runner' function to a 'Jobs' class
  gitlabci_local/features/pipelines.py
  gitlabci_local/jobs/__init__.py
  gitlabci_local/jobs/runner.py
  gitlabci_local/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: jobs: isolate script sources to a 'Scripts' class
  gitlabci_local/jobs/runner.py
  gitlabci_local/jobs/scripts.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #121: handle broken pipe upon logs outputs
  gitlabci_local/jobs/runner.py
  tests/pipes/.gitlab-ci.yml
  tests/pipes/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

test: regex,simple: rename the jobs' stages to match the tests
  tests/regex/.gitlab-ci.yml
  tests/simple/.gitlab-ci.yml
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: bundle,jobs: isolate env binary paths and jobs variables
  gitlabci_local/cli/main.py
  gitlabci_local/engines/podman.py
  gitlabci_local/jobs/runner.py
  gitlabci_local/package/bundle.py
  gitlabci_local/parsers/gitlab.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: vscode: ignore '.ropeproject' folder from tracked files
  .vscode/.gitignore
Due: none

chore: jobs: refactor 'run()' into an 'Outputs' class and methods
  gitlabci_local/jobs/outputs.py
  gitlabci_local/jobs/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: parsers: refactor 'parse()' into separated methods
  gitlabci_local/parsers/gitlab.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: run: handle scripts failures upon job lines executions
  run.sh
Due: none

chore: test: minor codestyle improvements in TEST.md
  TEST.md
Due: none

chore: gitlab-ci: remove unnecessary 'wget' for 'Coverage Windows'
  .gitlab-ci.yml
Due: none

chore: gitlab-ci: allow to use the 'SUITE' for regular tests jobs
  .gitlab-ci.yml
Due: none

fix: resolve #156: expand nested variables values like GitLab CI
  gitlabci_local/jobs/runner.py
  tests/variables/.gitlab-ci.nested.yml
  tests/variables/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: readme: resolve a minor typo about --settings in README
  README.md
Due: none

chore: readme, test: add Android 11 to the tested environments
  README.md
  TEST.md
Due: none

Path conditions:
  Codestyle: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Lint: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Build: any of: gitlabci_local/**/*
  Coverage Docker: any of: gitlabci_local/**/*, tests/**/*
  Coverage Podman: any of: gitlabci_local/**/*, tests/**/*
  Coverage Windows: any of: gitlabci_local/**/*, tests/**/*
  Py3.6 Docker: any of: gitlabci_local/**/*
  Py3.7 Docker: any of: gitlabci_local/**/*
  Py3.8 Docker: any of: gitlabci_local/**/*
  Py3.9 Docker: any of: gitlabci_local/**/*
  Py3.6 Podman: any of: gitlabci_local/**/*
  Py3.7 Podman: any of: gitlabci_local/**/*
  Py3.8 Podman: any of: gitlabci_local/**/*
  Py3.9 Podman: any of: gitlabci_local/**/*
  Py3.9 Preview: any of: gitlabci_local/**/*
  SonarCloud: any of: gitlabci_local/**/*, tests/**/*
