Repository starr-dusT/gitlab-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

Path conditions:
  Codestyle: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Lint: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Build: any of: gitlabci_local/**/*
  Coverage Docker: any of: gitlabci_local/**/*, tests/**/*
  Coverage Podman: any of: gitlabci_local/**/*, tests/**/*
  Coverage Windows: any of: gitlabci_local/**/*, tests/**/*
  Py3.6 Docker: any of: gitlabci_local/**/*
  Py3.7 Docker: any of: gitlabci_local/**/*
  Py3.8 Docker: any of: gitlabci_local/**/*
  Py3.9 Docker: any of: gitlabci_local/**/*
  Py3.6 Podman: any of: gitlabci_local/**/*
  Py3.7 Podman: any of: gitlabci_local/**/*
  Py3.8 Podman: any of: gitlabci_local/**/*
  Py3.9 Podman: any of: gitlabci_local/**/*
  Py3.9 Preview: any of: gitlabci_local/**/*
  SonarCloud: any of: gitlabci_local/**/*, tests/**/*

feat: resolve #176: share DOCKER_CERT_PATH and DOCKER_TLS_VERIFY
  gitlabci_local/engines/docker.py
  tests/sockets/.gitlab-ci.custom.yml
  tests/sockets/.gitlab-ci.global.yml
  tests/sockets/.gitlab-ci.incomplete.yml
  tests/sockets/.gitlab-ci.specific.yml
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #177: prepare version values only if needed
  .gitlab-ci.yml
  gitlabci_local/cli/main.py
  gitlabci_local/package/updates.py
  tests/versions/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

tests: test #160: resolve DinD pull executions without a timeout
  tests/sockets/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: gitlab-ci: add 'Python DinD' local tests job with DinD
  .gitignore
  .gitlab-ci.yml
Due: none

tests: test #160: resolve the DOCKER_HOST hostname to IP for DinD
  tests/sockets/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

fix: finish #177: add coverage for daily checks after a pipeline
  gitlabci_local/package/bundle.py
  gitlabci_local/package/updates.py
  tests/versions/.gitlab-ci.yml
  tests/versions/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #160: fix handlings of 'dict' or 'str' services lists
  gitlabci_local/containers/images.py
  gitlabci_local/parsers/gitlab.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: finish #169: remove the unused 'StageHistory.get' function
  gitlabci_local/prints/histories.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: finish #160: disable coverage of function 'Outputs.warning'
  gitlabci_local/jobs/outputs.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #160: add coverage of all environment variables
  gitlabci_local/engines/docker.py
  tests/sockets/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #177: add coverage after daily checks with a pipeline
  tests/versions/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

fix: finish #160: remove unneeded 'dict' iterator on services type
  gitlabci_local/parsers/gitlab.py
  tests/sockets/.gitlab-ci.custom.yml
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

test: finish #165: add 'trigger:' coverage with a faulty 'script:'
  tests/triggers/.gitlab-ci.yml
  tests/triggers/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

fix: resolve #178: support all types of include: configurations
  gitlabci_local/parsers/gitlab.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

tests: test #178: validate all types of include: configurations
  tests/includes/.gitlab-ci.dict.yml
  tests/includes/.gitlab-ci.list.yml
  tests/includes/.gitlab-ci.str.yml
  tests/includes/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

fix: resolve #179: expand home paths for volumes and workdir
  gitlabci_local/jobs/runner.py
  gitlabci_local/types/paths.py
  tests/home/.gitlab-ci.cli.yml
  tests/home/.gitlab-ci.env.yml
  tests/home/.gitlab-ci.relative.yml
  tests/home/.gitlab-ci.tilde.yml
  tests/home/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

docs: finish #174: document CI_COMMIT_SHA and CI_COMMIT_SHORT_SHA
  README.md
Due: none

docs: finish #160: document the 'services:' supported nodes
  README.md
Due: none

docs: finish #178: document the 'include:' supported nodes
  README.md
Due: none

test: finish #179: add a test with the "${PWD}" absolute path env
  tests/home/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

revert: finish #168: let fixed Podman resolve short-names again
  gitlabci_local/engines/podman.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: prepare #118: add an 'EXPERIMENTAL' to enable Docker sockets
  gitlabci_local/engines/docker.py
  gitlabci_local/system/platform.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #179: avoid resolving ~ on Windows hosts and refactor
  gitlabci_local/jobs/runner.py
  tests/home/.gitlab-ci.tilde.yml
  tests/home/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #171: resolve support of Windows paths volumes mounts
  gitlabci_local/jobs/runner.py
  gitlabci_local/parsers/gitlab.py
  gitlabci_local/types/volumes.py
  tests/volumes/.gitlab-ci.empty.yml
  tests/volumes/.gitlab-ci.windows.yml
  tests/volumes/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: coverage: disable coverage of Windows specific sections
  gitlabci_local/jobs/runner.py
  gitlabci_local/types/volumes.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #171: support ';' separated git-bash paths expansions
  gitlabci_local/types/volumes.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #171: fixup MSYS paths translations upon volumes parse
  gitlabci_local/types/paths.py
  gitlabci_local/types/volumes.py
  tests/volumes/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

test: finish #179: minor fixes of 'home' tests with /root workdir
  tests/home/.gitlab-ci.cli.yml
  tests/home/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

docs: preview: refresh the SVG for the latest 4.0.0 release
  docs/preview.svg
Due: Codestyle, Lint

docs: changelog: regenerate release tag changes history
  CHANGELOG.md
  README.md
Due: none

remove the need for docker
  gitlabci_local/cli/main.py
  gitlabci_local/jobs/runner.py
  requirements/runtime.txt
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud
