Repository starr-dusT/gitlab-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

Codestyle:
  stage: prepare
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: 1
  before_script:
  - pip3 install -q -r requirements/quality.txt --upgrade
  script:
  - yapf -i ./docs/*.py ./gitlabci_local/*.py ./gitlabci_local/*/*.py ./setup.py
  ...

Lint:
  stage: prepare
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: 1
  before_script:
  - pip3 install -q -r requirements/runtime.txt --upgrade
  - pip3 install -q -r requirements/docs.txt --upgrade
  - pip3 install -q -r requirements/quality.txt --upgrade
  script:
  ...

SonarCloud:
  stage: prepare
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    SONAR_USER_HOME: ${CI_PROJECT_DIR}/.sonar
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  ...

Build:
  stage: build
  variables:
    PIP_DISABLE_PIP_VERSION_CHECK: 1
  before_script:
  - pip3 install -r requirements/runtime.txt --upgrade
  - pip3 install -r requirements/build.txt --upgrade
  script:
  - rm -rf build dist *.egg-info .eggs
  - python3 setup.py bdist_wheel
  artifacts:
    paths:
    - dist/

Py3.6 Docker:
  stage: test
  timeout: 10m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - mount
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local'
  script:
  - pwd
  - mount
  ...

Py3.7 Docker:
  stage: test
  timeout: 10m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - mount
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local'
  script:
  - pwd
  - mount
  ...

Py3.8 Docker:
  stage: test
  timeout: 10m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - mount
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local'
  script:
  - pwd
  - mount
  ...

Py3.9 Docker:
  stage: test
  timeout: 10m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_DRIVER: overlay2
  before_script:
  - mount
  - 'mkdir -p ./.tmp/
  
    pip install dist/*.whl
  
    pip install --force-reinstall --no-deps --upgrade dist/*.whl
  
    pip show gitlabci-local'
  script:
  - pwd
  - mount
  ...

Py3.6 Podman:
  stage: test
  timeout: 10m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_HOST: tcp://127.0.0.1:9999
  before_script:
  - 'mount
  
  ...

Py3.7 Podman:
  stage: test
  timeout: 10m
  variables:
    FORCE_STYLING: 'true'
    TEMP: .tmp
    TERM: ansi
    DOCKER_HOST: tcp://127.0.0.1:9999
  before_script:
  - 'mount
  
  ...

feat: implement #143: add --force to force pull container images
  .gitlab-ci.yml
  README.md
  gitlabci_local/engines/docker.py
  gitlabci_local/engines/engine.py
  gitlabci_local/engines/podman.py
  gitlabci_local/main.py
  gitlabci_local/puller.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

feat: implement #144: add -i to ignore jobs name case distinctions
  .gitlab-ci.yml
  README.md
  gitlabci_local/dumper.py
  gitlabci_local/main.py
  gitlabci_local/menu.py
  gitlabci_local/runner.py
  gitlabci_local/types/lists.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: gitlab-ci: add --settings and wrapped --update-check tests
  .gitlab-ci.yml
Due: none

chore: tests: add 'engines' tests from arguments and environment
  .gitlab-ci.yml
  tests/engines/.gitlab-ci.yml
Due: none

chore: engine: add support for -E '' as being default engines
  gitlabci_local/main.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: finish #142: isolate pull and rmi into a feature class
  gitlabci_local/features/__init__.py
  gitlabci_local/features/images.py
  gitlabci_local/main.py
  gitlabci_local/puller.py
  gitlabci_local/remover.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: version: support non-packaged sources version fallback
  gitlabci_local/package/version.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: refactor and isolate all unit tests
  .gitlab-ci.yml
  tests/arguments/test.sh
  tests/configurations/test.sh
  tests/disabled/test.sh
  tests/engines/test.sh
  tests/entrypoints/test.sh
  tests/environment/.env
  tests/environment/.gitlab-ci.yml
  tests/environment/environment.env
  tests/environment/test.sh
  tests/extends/test.sh
  tests/failures/test.sh
  tests/images/.gitlab-ci.yml
  tests/images/test.sh
  tests/includes/test.sh
  tests/local/test.sh
  tests/multilines/test.sh
  tests/parsers/.gitlab-ci.corrupt.yml
  tests/parsers/test.sh
  tests/project/test.sh
  tests/regex/test.sh
  tests/retry/test.sh
  tests/simple/test.sh
  tests/stages/test.sh
  tests/tags/test.sh
  tests/templates/test.sh
  tests/triggers/test.sh
  tests/unsorted/test.sh
  tests/variables/test.sh
  tests/volumes/test.sh
Due: none

chore: parser: cleanup duplicated environment file checks
  gitlabci_local/parser.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: docs: migrate to the isolated 'pexpect-executor' package
  README.md
  docs/preview.py
  requirements/docs.txt
Due: Codestyle, Lint, SonarCloud

chore: gitlab-ci: add 'Py3.9 Preview' test of ./docs/preview.py
  .gitlab-ci.yml
Due: none

chore: gitlab-ci: implement Python coverage reports for SonarCloud
  .gitignore
  .gitlab-ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  requirements/coverage.txt
Due: none

chore: coverage: ignore coverage of unreachable input securities
  gitlabci_local/main.py
  gitlabci_local/prints/boxes.py
  gitlabci_local/runner.py
  gitlabci_local/types/strings.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: vscode: migrate to 'brainfit.vscode-coverage-highlighter'
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: vscode: exclude intermediate files from the project view
  .vscode/settings.json
Due: none

chore: gitlab-ci: resolve 'SonarCloud' changes rules on develop
  .gitlab-ci.yml
Due: none

chore: gitlab-ci: isolate coverage databses and allow suite tests
  .gitlab-ci.yml
Due: none

chore: engine: disable the engine.exec command until required
  gitlabci_local/engines/engine.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: add 'gitlabci-local -c ./folder/' arguments test
  tests/arguments/test.sh
Due: none

chore: gitlab-ci: remove 'mount' command execution in all tests
  .gitlab-ci.yml
Due: none

feat: finish #144: add missing regex check for -i case option
  gitlabci_local/types/lists.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: add 'gitlabci-local -i' with regex name tests
  tests/regex/test.sh
Due: none

chore: tests: add missing or incompatible Podman engine tests
  tests/engines/test.sh
Due: none

feat: updates: improve updates colors and embed new test flags
  gitlabci_local/package/bundle.py
  gitlabci_local/package/updates.py
  gitlabci_local/package/version.py
  tests/arguments/test.sh
  tests/versions/test.sh
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: add '--settings' specific tests and install 'sudo'
  .gitlab-ci.yml
  tests/arguments/test.sh
  tests/settings/test.sh
Due: none

chore: gitlab-ci: silent and hide all installation irrelevant logs
  .gitlab-ci.yml
Due: none

chore: version: exclude version '0.0.0' fallback from coverage
  gitlabci_local/package/version.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: gitlab-ci: run coverage and SonarCloud upon tests/ changes
  .gitlab-ci.yml
Due: none

chore: gitlab-ci: unify coverage reports, unify and common scripts
  .gitlab-ci.yml
Due: none

fix: resolve #145: Handle configurations Dicts index out of range
  gitlabci_local/types/dicts.py
  tests/configurations/.gitlab-ci.yml
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

fix: resolve #147: default YAML or JSON value if non-interactive
  gitlabci_local/menu.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: add unknown configurations test and raise error
  gitlabci_local/menu.py
  tests/parsers/.gitlab-ci.configurations.yml
  tests/parsers/test.sh
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: parser: handle 'FileNotFoundError' upon file parser
  gitlabci_local/parser.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: add multiple unit tests to improve sources coverage
  tests/entrypoints/.gitlab-ci.local.yml
  tests/entrypoints/.gitlab-ci.name.yml
  tests/entrypoints/.gitlab-ci.simple.yml
  tests/entrypoints/.gitlab-ci.yml
  tests/entrypoints/test.sh
  tests/extends/.gitlab-ci.yml
  tests/extends/template_4.yml
  tests/local/.gitlab-ci.yml
  tests/multilines/.gitlab-ci.str.yml
  tests/multilines/.gitlab-ci.yml
  tests/multilines/test.sh
  tests/parsers/.gitlab-ci.script.yml
  tests/parsers/test.sh
Due: none

fix: resolve #146: ensure before_script really checks for issues
  gitlabci_local/runner.py
  tests/scripts/.gitlab-ci.yml
  tests/scripts/test.sh
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: add time tests for 60+ seconds pipelines coverage
  tests/time/.gitlab-ci.yml
  tests/time/test.sh
Due: none

chore: tests: use 'ubuntu:20.04' for --bash/--debug for bash tests
  tests/simple/.gitlab-ci.yml
Due: none

chore: runner: remove unused engine logs reader and try except
  gitlabci_local/runner.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: features: isolate 'dumper' into a 'Jobs' feature
  gitlabci_local/dumper.py
  gitlabci_local/features/jobs.py
  gitlabci_local/main.py
Due: Codestyle, Lint, SonarCloud, Build, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman

chore: tests: migrate to pexpect-executor 1.0.1 with tests support
  .gitlab-ci.yml
  docs/preview.py
  requirements/docs.txt
  requirements/tests.txt
Due: Codestyle, Lint, SonarCloud

Path conditions:
  Codestyle: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Lint: any of: docs/**/*, gitlabci_local/**/*, setup.py
  SonarCloud: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Build: any of: gitlabci_local/**/*
  Py3.6 Docker: any of: gitlabci_local/**/*
  Py3.7 Docker: any of: gitlabci_local/**/*
  Py3.8 Docker: any of: gitlabci_local/**/*
  Py3.9 Docker: any of: gitlabci_local/**/*
  Py3.6 Podman: any of: gitlabci_local/**/*
  Py3.7 Podman: any of: gitlabci_local/**/*
  Py3.8 Podman: any of: gitlabci_local/**/*
  Py3.9 Podman: any of: gitlabci_local/**/*
