Repository starr-dusT/gitlab-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

Path conditions:
  Codestyle: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Lint: any of: docs/**/*, gitlabci_local/**/*, setup.py
  Build: any of: gitlabci_local/**/*
  Coverage Docker: any of: gitlabci_local/**/*, tests/**/*
  Coverage Podman: any of: gitlabci_local/**/*, tests/**/*
  Coverage Windows: any of: gitlabci_local/**/*, tests/**/*
  Py3.6 Docker: any of: gitlabci_local/**/*
  Py3.7 Docker: any of: gitlabci_local/**/*
  Py3.8 Docker: any of: gitlabci_local/**/*
  Py3.9 Docker: any of: gitlabci_local/**/*
  Py3.6 Podman: any of: gitlabci_local/**/*
  Py3.7 Podman: any of: gitlabci_local/**/*
  Py3.8 Podman: any of: gitlabci_local/**/*
  Py3.9 Podman: any of: gitlabci_local/**/*
  Py3.9 Preview: any of: gitlabci_local/**/*
  SonarCloud: any of: gitlabci_local/**/*, tests/**/*

feat: implement #157: see the job name upon result for readability
  gitlabci_local/jobs/outputs.py
  gitlabci_local/jobs/runner.py
  run.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: gitlab-ci: synchronize stderr outputs with stdout outputs
  .gitlab-ci.yml
Due: none

test: gitlab-ci: raise libseccomp2 to 2.5.1-1 for Podman tests
  .gitlab-ci.yml
Due: none

test: test #156: resolve 'project' variables being now handled
  tests/project/.gitlab-ci.yml
  tests/project/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

test: gitlab-ci: fix Podman VFS storage driver with STORAGE_DRIVER
  .gitlab-ci.yml
Due: none

chore: docs: refresh the preview SVG for the latest 3.1.0 release
  docs/preview.svg
Due: Codestyle, Lint

docs: changelog: regenerate release tag changes history
  CHANGELOG.md
  README.md
Due: none

fix: resolve #158: prevent regex matches in interactive menus
  gitlabci_local/cli/main.py
  tests/menus/.gitlab-ci.select.yml
  tests/menus/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #159: support nested anchor scripts syntaxes
  gitlabci_local/parsers/gitlab.py
  tests/multilines/.gitlab-ci.nested.yml
  tests/multilines/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #163: handle APIError fails in docker.supports()
  gitlabci_local/engines/docker.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #164: avoid --debug features if interrupted by Ctrl+C
  gitlabci_local/jobs/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: implement #160: enable the sockets option with dind services
  gitlabci_local/features/configurations.py
  gitlabci_local/jobs/runner.py
  gitlabci_local/parsers/gitlab.py
  tests/sockets/.gitlab-ci.global.yml
  tests/sockets/.gitlab-ci.incomplete.yml
  tests/sockets/.gitlab-ci.specific.yml
  tests/sockets/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: document #160: mention sockets are enabled by dind services
  README.md
  gitlabci_local/cli/main.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: resolve #162: specific warnings about unsupported features
  gitlabci_local/engines/docker.py
  gitlabci_local/jobs/outputs.py
  gitlabci_local/jobs/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: finish #162: mention real paths are available on macOS
  README.md
  gitlabci_local/cli/main.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: resolve #166: add support for DOCKER_HOST sockets
  gitlabci_local/engines/docker.py
  gitlabci_local/engines/engine.py
  gitlabci_local/engines/podman.py
  gitlabci_local/jobs/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

tests: test #160: run sockets tests only Docker supported hosts
  tests/sockets/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: gitlab-ci: always push to SonarCloud on develop / master
  .gitlab-ci.yml
Due: none

feat: resolve #161: add support for Docker sockets on Windows
  gitlabci_local/engines/docker.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: finish #160: unify the configurations cleanup in a function
  gitlabci_local/features/configurations.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: prepare #165: consider nodes containing 'script' as jobs
  gitlabci_local/parsers/gitlab.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: resolve #165: handle empty job stages and missing stages
  gitlabci_local/parsers/gitlab.py
  tests/stages/.gitlab-ci.defaults.yml
  tests/stages/.gitlab-ci.disabled.yml
  tests/stages/.gitlab-ci.test.yml
  tests/stages/.gitlab-ci.unknown.yml
  tests/stages/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: implement #167: support Podman default network interface
  gitlabci_local/engines/docker.py
  gitlabci_local/engines/podman.py
  gitlabci_local/jobs/runner.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

tests: test #167: add a coverage test for engine network modes
  tests/engines/.gitlab-ci.yml
  tests/engines/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

feat: resolve #168: explicitly use docker.io registry for Podman
  gitlabci_local/engines/podman.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

tests: test #160: ensure DOCKER_HOST points to a working deamon
  tests/sockets/.gitlab-ci.global.yml
  tests/sockets/.gitlab-ci.incomplete.yml
  tests/sockets/.gitlab-ci.specific.yml
  tests/sockets/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

chore: finish #166: disable coverage of DOCKER_HOST offline cases
  gitlabci_local/engines/docker.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: features: isolate the pipelines filter into a function
  gitlabci_local/features/pipelines.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: implement #169: add pipeline / jobs histories and refactor
  gitlabci_local/features/pipelines.py
  gitlabci_local/jobs/outputs.py
  gitlabci_local/jobs/runner.py
  gitlabci_local/prints/histories.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: finish #160: cleanup 'null' empty configurations fields
  gitlabci_local/features/configurations.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

chore: finish #169: use integer durations to avoid '1 seconds'
  gitlabci_local/prints/histories.py
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

tests: test #160: adapt DOCKER_HOST for GitLab CI tests
  tests/sockets/test.sh
Due: Coverage Docker, Coverage Podman, Coverage Windows, SonarCloud

fix: resolve #172: fix one part .local:volumes items
  gitlabci_local/jobs/runner.py
  tests/volumes/.gitlab-ci.relative.yml
  tests/volumes/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #173: expand variables from the workdir value
  gitlabci_local/jobs/runner.py
  tests/volumes/.gitlab-ci.variables.yml
  tests/volumes/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

feat: implement #174: set CI_COMMIT_SHA and CI_COMMIT_SHORT_SHA
  gitlabci_local/jobs/runner.py
  gitlabci_local/package/bundle.py
  gitlabci_local/system/git.py
  tests/local/.gitlab-ci.git.yml
  tests/local/.gitlab-ci.raw.yml
  tests/local/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #160: add support for the name: variant of 'services:'
  gitlabci_local/parsers/gitlab.py
  tests/sockets/.gitlab-ci.custom.yml
  tests/sockets/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: resolve #175: ensure when: always jobs always run
  gitlabci_local/jobs/runner.py
  tests/failures/.gitlab-ci.yml
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud

fix: finish #174: add 'git' environment path and run local tests
  gitlabci_local/jobs/runner.py
  gitlabci_local/package/bundle.py
  gitlabci_local/system/git.py
  tests/local/.gitlab-ci.git.yml
  tests/local/test.sh
Due: Codestyle, Lint, Build, Coverage Docker, Coverage Podman, Coverage Windows, Py3.6 Docker, Py3.7 Docker, Py3.8 Docker, Py3.9 Docker, Py3.6 Podman, Py3.7 Podman, Py3.8 Podman, Py3.9 Podman, Py3.9 Preview, SonarCloud
